* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    font-size: 20px;
    flex-flow: column;
    height: 100vh;
}

.header {
    outline: 1px solid green;
    height: 3rem;
}

.container {
    outline: 1px solid chocolate;
    display: flex;
    height: inherit;
}

.content {
    outline: 1px solid yellow;
    flex: 1 auto;
}

.aside {
    outline: 1px solid violet;
    flex: 0 0 25%;
}

.footer {
    outline: 1px solid purple;
    height: 6rem;
    margin-top: auto;
}

.menu {
    display: flex;
}

.menu-item {
    list-style: none;
    flex: 1;
    outline: 1px solid fuchsia;
    line-height: 3rem;
    text-align: center;
    transition: flex .10s;
}

.menu-item:hover {
    flex: 8;
}